      <div class="column1">
<td>
  <tr>
      <h3 class="textheader">Please see below for Conf room details:</h3>
  </tr>
<tr>
    <h4 class="textheader">    Select and view time slot </h4>

</tr>
</td>

       
    <div>
    
     
       
    </div>

    <img src="/assets/img/Calender.jpg" style="size: 20%">

        <!-- <form (ngSubmit)="onSubmit()" #myForm="ngForm">

    <tr>
      <td>
          <mat-form-field >
              <input matInput placeholder="First Name" id="firstname"
              [(ngModel)]=" firstName" name="firstname" >
              
              </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>

              <mat-form-field >
                  <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="
                  lastName" name="lastname" >
              </mat-form-field>
      </td>
    </tr>
    <tr>
        <td>

                 <mat-form-field >
                    <input matInput placeholder="Name of the Book" id="bookname" [(ngModel)]="
                    bookname" name="bookname" >

                    </mat-form-field>              
                    <mat-form-field >
                    <mat-select [(ngModel)]="bookname" matInput placeholder="Name of the Book" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let club of clubs let i = index" [value]="club.bookTitle">
                        {{club.bookTitle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


        </td>
      </tr>
  <tr >
        <td>
                <mat-form-field class="textarea" >
                    <textarea matInput placeholder="Enter your Comments" id="comment" [(ngModel)]="
                    comment" name="comment"  ></textarea>
                  
                    </mat-form-field>
       

        </td>
      
      </tr>
<tr>
  <td>
      <p>
          <button type="submit" mat-raised-button
          color="primary">Submit</button>
      </p>
    </td>
  <td>
            <button (click)="reset()" mat-raised-button
          color="warn">Cancel</button>
  </td>
</tr>


            </form> -->

      </div>




