*{ box-sizing: border-box; }


h2{

    border-radius: 10px; 
    padding: 19px 39px 18px 39px; 
    color: #39364f; 
    font-family: 'Nunito', sans-serif; 
    font-weight: 400; 
}

.text

{
    font-family:'Comic Sans';
    font-size: larger;
    font-weight: bold;
color: darkblue;
}

.column1{
    float: left;
}
form{
    max-width: 800px;
    margin:10px auto;
    padding:10px 20px; 
    font-family: 'Nunito', sans-serif; 
    color: #384047; 
    background: #f4f7f8; 
    border-radius: 8px; 
} 

button{
    color: accent; 
}