<div class="column1">

  Meetings information
  <!-- <p class="text">New book club section! </p>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field >
      <input matInput  placeholder="Club Name" id="clubName" [(ngModel)]= "clubName" name="clubName" >
    </mat-form-field>
    <br>
    <mat-form-field >
      <input matInput placeholder="Created on" id="createdOn" [(ngModel)]= "createdOn" name="lastname" [disabled]="true">
    </mat-form-field>
    <br>
    <mat-form-field >
        <input matInput placeholder="Book Title" id="bookTitle" [(ngModel)]= "bookTitle" name="booktitle" >
    </mat-form-field>
    <br>
    <mat-form-field >
      <input matInput placeholder="ISBN" id="isbn" [(ngModel)]= "isbn" name="isbn" >
  </mat-form-field>
  <br>
    <mat-form-field >
        <input matInput placeholder="Author" id="author" [(ngModel)]= "author" name="author" >
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Member(s)" id="members" [(ngModel)]= "members" name="members" [disabled]="true">
    </mat-form-field>
<tr>
  <td>
      <p>
          <button type="submit" mat-raised-button color="primary" >Submit</button> &nbsp;
        </p>
  </td>
  <td>

      <p>
          <button type="button" mat-raised-button color="warn"  (click)="myForm.reset()">Reset</button>      

       </p>
  </td>
</tr> -->


  
  </div>
