<!--The content below is only a placeholder and can be replaced.-->
<body>


   
    <div class="grid-container">


         <table>
               <tr>
                 <td>
                     <img src="../assets/img/SHAW_CRP_LOGO_1.png" height="50px">
                 </td>
                 
               </tr>
               <tr>
               <td>
                     <app-navigation-menu></app-navigation-menu>
                     <router-outlet></router-outlet>
                     
               </td>
               </tr>
             </table>

       <div class="item2">
        
          <router-outlet></router-outlet>
   
       </div>
       <div class="item3">Kennesaw State University</div>
    </div>
 </body>
