          <!-- <h3>{{ mode }}</h3>
          <div id="edit" style="display: none">
          <ng-container *ngFor ="let user of users let i = index">
          <ng-container *ngIf="user._id == id">
          <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <mat-form-field >
              <input matInput placeholder="First Name" id="firstname" [(ngModel)]="firstName" name="firstname" >
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="lastName" name="lastname" >
            </mat-form-field>
            <br>
            <mat-form-field >
                <input matInput placeholder="Nickname" id="nickname" [(ngModel)]="nickName" name="nickname" >
            </mat-form-field>
            <br>
            <mat-form-field >
                <input matInput placeholder="Email" id="lastname" [(ngModel)]="email" name="email" >
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Bookclub" id="bookclub" [(ngModel)]="bookClub" name="bookclub" >
            </mat-form-field>
            <p>
              <button type="submit" mat-raised-button>Submit</button>
            </p>
          </form>
          <p>
              <button type="none" mat-raised-button (click)="buttonOnMouseOver(user)">Pre-Populate</button>
          </p>
        </ng-container>
      </ng-container>

          </div> -->

          <div class="column1">
<p class="text"> Fill the form below to add a new user!</p>

    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <mat-form-field >
        <input matInput  placeholder="First Name" id="firstname" [(ngModel)]=" firstName" name="firstname" >
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder="Last Name" id="lastname" [(ngModel)]=" lastName" name="lastname" >
      </mat-form-field>
      <br>
      <!-- <mat-form-field >
          <input matInput placeholder="Nickname" id="nickname" [(ngModel)]=" nickName" name="nickname" >
      </mat-form-field> -->
      <!-- <br> -->
      <mat-form-field >
          <input matInput placeholder="Email" id="lastname" [(ngModel)]=" email" name="email" >
      </mat-form-field>
      <br>
      <mat-form-field>
          <!-- <input matInput placeholder="Bookclub" id="bookclub" [(ngModel)]=" bookClub" name="bookclub" >
      </mat-form-field><br>
      <mat-form-field> -->
        <mat-label>Book Club</mat-label>
        <mat-select [(ngModel)]="bookClub" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let club of clubs let i = index" [value]="club.clubName">
            {{club.clubName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <tr>
        <td>
          <p>
            <button  mat-raised-button color ="primary">Submit</button>  &nbsp;
          </p>
        </td>


       <td>
        <p>
          <button  mat-raised-button color ="warn" (click)="myForm.reset()">Reset</button>         <!-- Used https://angular.io/guide/forms as a reference for this line -->

       </p>
       </td>
     </tr>

    </form>
    </div>
