

<div>
  <table id= "users">
    <tbody>
        <tr>
            <th>Club Name</th>
            <th>Created on</th>
            <th>Book Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Members</th>
            <th>Goodreads Reviews</th>
            <th colspan="2">Action</th>
        </tr>
        <ng-container *ngFor ="let club of clubs let i = index">
        <tr><td>{{club.clubName}}</td> <td>{{club.createdOn}}</td> <td>{{club.bookTitle}}</td><td>{{club.isbn}}</td>
          <td>{{club.author}}</td><td>{{club.members}}</td>  <td><button mat-raised-button color="accent" (click)="myCallback(club.isbn)" style="float: right;">See reviews</button></td>

          <td><button mat-raised-button color="warn" (click)="onDelete(club._id)" style="float: right;">Delete</button></td>
          <td><button mat-raised-button color="primary" [routerLink]="['/editClub', club._id]">Update</button></td>
        </ng-container>
    </tbody>
  </table>

  <div id = "demo_div" style="display:none;">
  <iframe id="demo" src="" style="border:none; width: 100%; height:300px;">
  </iframe>
</div>
